
*.class
*.jar
*.war
*.ear


Minecraft/Code/server.jar

Minecraft/Code/world/
Minecraft/Code/world_nether/
Minecraft/Code/world_the_end/
Minecraft/Code/logs/
Minecraft/Code/crash-reports/
Minecraft/Code/usercache.json
Minecraft/Code/usernamecache.json
Minecraft/Code/banned-players.json
Minecraft/Code/banned-ips.json
Minecraft/Code/ops.json
Minecraft/Code/whitelist.json
Minecraft/Code/server.properties
Minecraft/Code/eula.txt
Minecraft/Code/libraries/
Minecraft/Code/versions/


.vscode/*.log
.vscode/.history/

.DS_Store
Thumbs.db

.idea/
*.iml
.settings/
.classpath
.project

# ant
build/
dist/
bin/
